html {
  font-size: 10px;
}

.body-wrapper {
  margin: 0;
}

table {
  font-size: 14px;
  line-height: 1.5;
  border-width: 0;
  margin: 2em 0;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;

}

tr {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;

  &:hover > td {
    background: #f7fdff;
    cursor: pointer;
  }
}

th {
  padding: 14px 16px;
  padding: 20px;
  text-align: left;
  background: #e6f7ff;
  box-sizing: border-box;
  border-bottom: 2px solid #1890ff;
  color: #1890ff;
}

td {
  font-weight: 500;
  max-width: 20%;
  color: #003a8c;
  padding: 20px;
  text-align: left;

  &:first-child {
    color: #000;
    font-weight: bold;
    font-style: italic;
  }
}

.prism-code {
  font-size: 14px;
  padding: 20px !important;
}